
# Devenv
devenv*
devenv.local.nix
nix-eval-*

# pre-commit
.pre-commit-config.yaml

# pycache
*/__pycache__

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
